---

# clean before instead of the last to make space occupied smoother. 
- name: Clean artifact path
  file:
    state: absent
    path: "{{ artifact_path }}/"
  when: artifact_path is defined and artifact_path != "" and DBS_BACKUP_EXTERNAL_STORAGE != ""

- name: Create backup directory
  file: 
    path: "{{BACKUP_LOCATION}}"
    state: directory

- name: Install mysql dump
  package: 
    name: mysql-client
  when: backup_mysql

- name: Get mysql database docker container id
  command: docker ps --filter "name={{ backup_mysql_container_name }}" --format {% raw %}"{{.ID}}"{% endraw %}
  register: mysql_container_id
  changed_when: false
  when: backup_mysql

- name: Create data snapshot and compress it
  # Using `nice` to lower CPU OS process priority and `ionice` to lower IO OS process priority
  shell: |
    docker exec -it -e MYSQL_PWD={{ backup_mysql_login_password }} {{ mysql_container_id.stdout }} \
    /usr/bin/mysqldump --user={{ backup_mysql_login_user }} --port={{ backup_mysql_port }} --single-transaction --all-databases --skip-extended-insert \
    | nice -n 10 gzip -c \
    | ionice -c2 -n 7 tee {{ BACKUP_LOCATION }}/{{ BACKUP_DATE }}_{{ backup_mysql_container_name }}_mysql.sql.gz \
    > /dev/null
  when: backup_mysql and mysql_container_id.stdout is defined

- name: Give the server time to recover
  pause:
    minutes: 2
    prompt: Pausing to give the server time to recover
  when: backup_mysql

# Mongo Backup
- name: Create mongo database backup
  # very important use                    --all-databases
  shell: |
    docker exec -it {{ mongo_docker_container_name }} \
    mongodump \
      --authenticationDatabase admin \
      --username admin \
      --password {{ MONGO_ADMIN_PASSWORD }} \
      --quiet \
      --archive \
    | gzip -c > {{ BACKUP_LOCATION }}/{{ BACKUP_DATE }}_mongo.gz
  when:  backup_mongo

# - name: Compress mongo backup file
#   command: "tar -czf {{ BACKUP_DATE }}_mongo.tar.gz {{ BACKUP_LOCATION}}/{{ BACKUP_DATE }}.mongo --remove-files"
#   args:
#     chdir: "{{ BACKUP_LOCATION}}"
#   when:  backup_mongo

# Upload backups to CEPH
- include_tasks: ceph.yml
  when: DBS_BACKUP_EXTERNAL_STORAGE == 'ceph'
