{% import '_docker_deploy_helper.j2' as helper with context %}
# {{ ansible_managed }}
#
# Docker compose file for mongodb.
#
version: '3.8'

services:

  mongo:
    image: {{ mongo_docker_image }}
    container_name: {{ mongo_docker_container_name }}
    command: {{ mongo_docker_command }}
    restart: always
    environment:
      TZ: {{ mongo_timezone | default("Europe/Lisbon") }}
{% if mongo_docker_secret_root_username_file_path | length > 0 %}
      MONGO_INITDB_ROOT_USERNAME_FILE: {{ mongo_docker_secret_root_username_file_path }}
{% endif %}
{% if mongo_docker_secret_root_password_file_path | length > 0 %}
      MONGO_INITDB_ROOT_PASSWORD_FILE: {{ mongo_docker_secret_root_password_file_path }}
{% endif %}
    volumes:
      - {{ mongo_docker_volume_path }}:/data/db
    network_mode: host
    ulimits:
      nproc: {{ mongo_limit_nproc }}
      nofile:
        soft: {{ mongo_limit_no_file_soft }}
        hard: {{ mongo_limit_no_file_hard }}
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | {{ mongo_shell_command }} localhost:{{ mongo_docker_port }}/test --quiet
      interval: 60s
      timeout: 50s
      retries: 1000
      start_period: 30s
{{ helper.service_configs(service='mongo') }}
{{ helper.service_secrets(service='mongo') }}

{{ helper.configs() }}
{{ helper.secrets() }}
