#!/bin/bash
# {{ ansible_managed }}
{{ web_server_monitoring_script_initial }} | \
awk -F' ' '{print ${{ web_server_monitoring_log_request_time_position }}}' | \
grep -E "^[0-9\.]+$" | \
awk 'BEGIN {max = 0} {if ($1>max) max=$1} END {print max }'
