---
- name: Create or update SiteConfiguration
  block:
    # - debug:
    #     msg: "{{ site_configuration['values'] }}"

    - name: Create the SiteConfiguration JSON file
      template:
        src: "site_configuration.json.j2"
        dest: "{{ openedx_app_site_configuration_tmp_site_configuration_path }}"

    - name: Copy site_configuration to docker container
      shell: docker cp {{ openedx_app_site_configuration_tmp_site_configuration_path }} {{ openedx_app_site_configuration_docker_container }}:{{ openedx_app_site_configuration_tmp_site_configuration_path }}

    - name: Use the site_id if it is provided
      set_fact:
        site_identifier: "--site-id {{ site_configuration.site_id }}"
      when: site_configuration.site_id is defined and site_configuration.domain is not defined

    - name: Use the domain name if it is provided
      set_fact:
        site_identifier: "{{ site_configuration.domain }}"
      when: site_configuration.domain is defined and site_configuration.site_id is not defined

    - name: Fail if both site_id and domain are provided
      fail:
        msg: "Cannot specify the site_id and domain at the same time in {{ site_configuration }}"
      when: site_configuration.domain is defined and site_configuration.site_id is defined

    - name: Get the default SITE_ID
      shell: "{{ openedx_app_site_configuration_docker_command_prefix }} print_setting SITE_ID 2>/dev/null"
      register: default_site_id
      when: site_configuration.site_id is not defined and site_configuration.domain is not defined

    - name: Use the default SITE_ID as the site identifier
      set_fact:
        site_identifier: "--site-id {{ default_site_id.stdout }}"
      when: site_configuration.site_id is not defined and site_configuration.domain is not defined
    
    - name: Print site id and domain
      debug:
        msg: "Updating site with id {{ site_identifier }}{{ ' with domain: ' + site_configuration.domain if site_configuration.domain is defined else '' }}"

    - name: Run create_or_update_site_configuration
      shell: |
        {{ openedx_app_site_configuration_docker_command_prefix }} create_or_update_site_configuration -f {{ openedx_app_site_configuration_tmp_site_configuration_path }} --enabled {{ site_identifier }}

    - name: Remove the generated SiteConfiguration JSON file on container
      shell: |
        {{ openedx_app_site_configuration_docker_exec }} rm -f {{ openedx_app_site_configuration_tmp_site_configuration_path }}

    - name: Remove the generated SiteConfiguration JSON file on host
      file:
        path: "{{ openedx_app_site_configuration_tmp_site_configuration_path }}"
        state: absent
