{% import '_docker_deploy_helper.j2' as helper with context %}
# {{ ansible_managed }}
version: "3.8"

services:

  fluentbit:
    image: {{ observability_fluentbit_docker_image }}
    container_name: {{ observability_docker_deploy_compose_name }}_fluentbit
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 100M
        reservations:
          memory: 50M
    # used to collect node metrics
    environment:
      # Ceph S3 credentials to store some log files.
      AWS_ACCESS_KEY_ID: "{{ EDXAPP_AWS_ACCESS_KEY_ID }}"
      AWS_SECRET_ACCESS_KEY: "{{ EDXAPP_AWS_SECRET_ACCESS_KEY }}"
    volumes:
      # Mount relevant OS folders to collect OS log files
      - /var/log/:/var/log/:ro
      # Docker metrics and events
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Docker container metrics
      - /var/lib/docker/containers/:/var/lib/docker/containers/:ro
      - /sys/fs/cgroup/:/sys/fs/cgroup/:ro
      # Prometheus Node Exporter
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      # Store data in the filesystem so we don't lose data on restarts
      - {{ observability_fluentbit_data }}:/fluent-bit/data
    # Use specific logging driver to prevent circular logging messages from the host docker daemon
    # and the fluentbit container.
    logging:
      driver: local
    ports:
{% if observability_fluentbit_debug | bool %}
      # fluentbit http server important to debug
      - target: {{ observability_fluentbit_http_port }}
        published: {{ observability_fluentbit_http_port }}
        protocol: tcp
        mode: host
{% endif %}
      # default forward port to receive logging messages from the docker daemon
      - target: {{ observability_fluentbit_forward_port }}
        published: {{ observability_fluentbit_forward_port }}
        protocol: tcp
        mode: host
{{ helper.service_configs(service='fluentbit') }}
{{ helper.service_secrets(service='fluentbit') }}

{{ helper.configs() }}
{{ helper.secrets() }}
