[defaults]

# As a default we use the development environment. Operations to stage or prod must specify the inventory
inventory      =../nau-data/envs/development/hosts.ini
host_key_checking = False
jinja2_extensions=jinja2.ext.do
log_path=./ansible.log
roles_path = ../configuration/playbooks/roles:vendor/roles

# Required so `sudo: yes` does not lose the environment variables, which hold the ssh-agent socket
sudo_flags=-HS

[ssh_connection]
ssh_args=-o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=30m

# Prefered method to use when transfering files over ssh.
# If set to True, it will force 'scp'.
# Resolve connection problems to idpproxy-qa
scp_if_ssh = True
