---
# Check if the users exist before trying to delete their authorized keys file
# It will fail silently if the user does not exist
- name: Check if user exists
  getent:
    database: passwd
    key: "{{ username }}"
  ignore_errors: yes
  tags:
    - ssh

- name: Delete authorized keys
  file:
    path: ~/.ssh/authorized_keys
    state: absent
  become: yes
  become_user: "{{ username }}"
  become_method: sudo
  ignore_errors: yes
  when: ansible_facts.getent_passwd[username] is defined
  tags: 
    - ssh
