---
- name: Configure authorized ssh key for linux users
  authorized_key:
    user: "{{ item.user }}"
    exclusive: "{{ item.exclusive }}"
    key: "{{ item['keys'] | join('\n') }}"
  loop_control:
    label: "user: {{ item.user }}{{ ' exclusivelly' if (item.exclusive|bool) else ''}} with {{ item['keys'] | length }} keys"
  when: item.when | default(true)
  with_items: "{{ authorized_keys_for_user }}"
  ignore_errors: "{{ ansible_check_mode }}"
  tags: 
    - ssh

- name: Delete authorized keys if user exists
  include_tasks: delete_authorized_keys.yml
  loop: "{{ users_without_authorized_keys }}"
  loop_control:
    loop_var: username
    label: "User to check if exists '{{ username }}' and then delete its authorized keys"
  # ignore errors to avoid failing if the user does not exist
  ignore_errors: yes
  tags: 
    - ssh
