---
openedx_docker_deploy_base_folder: /nau/ops/openedx
openedx_docker_deploy_compose_template: templates/docker-compose.yml.j2
openedx_docker_deploy_compose_name: "{{ openedx_docker_deploy_base_folder | basename }}"

openedx_docker_deploy_templates: "{{ openedx_docker_deploy_templates_default }}"
openedx_docker_deploy_templates_default: "{{
  openedx_base_docker_deploy_templates +
  openedx_app_docker_deploy_templates +
  openedx_nginx_docker_deploy_templates +
  openedx_discovery_docker_deploy_templates +
  openedx_analyticsapi_docker_deploy_templates +
  openedx_insights_docker_deploy_templates +
  openedx_docker_deploy_templates_additional
}}"
openedx_base_docker_deploy_templates: "{{ openedx_base_docker_deploy_templates_default }}"
openedx_base_docker_deploy_templates_default:
  - src:  "{{ openedx_makefile_template | default('templates/Makefile') }}"
    dest: "{{ openedx_docker_deploy_base_folder }}/Makefile"
openedx_docker_deploy_templates_additional: []

openedx_docker_deploy_files: "{{ openedx_docker_deploy_files_default }}"
openedx_docker_deploy_files_default: "{{
  openedx_nginx_docker_deploy_files +
  openedx_app_docker_deploy_files +
  openedx_notes_docker_deploy_files +
  openedx_discovery_docker_deploy_files +
  openedx_analyticsapi_docker_deploy_files +
  openedx_insights_docker_deploy_files +
  openedx_docker_deploy_files_additional
}}"
openedx_docker_deploy_files_additional: []

# Declare additional docker services,
# so they can be used to generate Makefile helper targets.
openedx_docker_deploy_services_additional:
  - lms
  - lms-worker-default
  - lms-worker-high
  - lms-worker-high_mem
  - cms
  - cms-worker-default
  - cms-worker-high
  - app-job
  - smtp
  - forum
  - forum-job
  - notes
  - notes-job
  - discovery
  - discovery-job
  - analyticsapi-job

openedx_docker_deploy_stack_verify_retries: 120
openedx_docker_deploy_stack_verify_delay: 60

openedx_docker_images_to_prefetch:
  - "{{ openedx_app_image }}"
