
- name: Open load balancer connections
  import_role:
    name: rolling_deploy
  vars:
    rolling_deploy_docker: true
    rolling_deploy_starting: false
  when: rolling_deploy_enabled | default(true) | bool

- name: Restore keepalived priority
  import_role: 
    name: ansible-keepalived
  vars:
    keepalived_priority_override: ""
  when: keepalived_vrrp_instances is defined and ( keepalived_vrrp_instances|length > 0 )
