{% import '_docker_deploy_helper.j2' as helper with context %}
# {{ ansible_managed }}
#
# Docker compose file for xtradb.
#
version: '3.8'

services:

  xtradb:
    image: {{ xtradb_docker_image }}
    container_name: {{ xtradb_docker_container_name }}
    restart: always
    environment:
{% for env_var_name, env_var_value in xtradb_docker_environment_variables.items() %}
      {{ env_var_name }}: "{{ env_var_value }}"
{% endfor %}
    volumes:
      - {{ xtradb_mysql_docker_volume_path }}:/var/lib/mysql
    network_mode: host
{{ helper.service_configs(service='xtradb') }}
{{ helper.service_secrets(service='xtradb') }}

{{ helper.configs() }}
{{ helper.secrets() }}
