# Custom settings for /etc/hosts file
---

# All hosts should include a basic IPv6 hosts entries
hosts_add_basic_ipv6: true

hosts_entries: "{{ host_entries_all + hosts_entries_xtradb_include_kubernetes_nodes }}"

# All hosts should include an entry to the docker registry mirror
host_entries_all:
  - name: "{{ registry_mirror_host }}"
    ip: "{{ hostvars[groups['registry_mirror_server'][0]].ansible_host }}"

# All XtraDB servers should include entries for Kubernetes nodes,
# because they query to much DNS queries, so we include them statically
# to avoid DNS issues.
hosts_entries_xtradb_include_kubernetes_nodes: "{{ ( hosts_entries_kubernetes_str | from_yaml ) if inventory_hostname in groups['xtradb_servers'] else [] }}"

hosts_entries_kubernetes_str: |
  [
  {%- set k8s_ips = groups['kubernetes_servers'] | map('extract', hostvars, 'ansible_host') | list -%}
  {%- set k8s_names = groups['kubernetes_servers'] -%}
  {%- for i in range(k8s_ips | length) %}
    {"name": "{{ k8s_names[i] }}", "ip": "{{ k8s_ips[i] }}"}{{ "," if not loop.last else "" }}
  {%- endfor %}
  ]
