---
redis_docker_image: docker.io/redis:7.2.4
redis_docker_instance_name: redis

redis_replication_mode: master
redis_docker_port: 6379
redis_docker_maxmemory: 1gb
redis_docker_maxmemory_policy: allkeys-lru
redis_docker_command_extra: --maxmemory {{ redis_docker_maxmemory }} --maxmemory-policy {{ redis_docker_maxmemory_policy }}
redis_docker_command: /opt/bitnami/scripts/redis/run.sh {{ redis_docker_command_extra }}
redis_docker_container_name: "{{ redis_docker_deploy_base_folder | basename }}"
redis_master_host: "{{ redis_docker_container_name }}"
redis_replica_ip: "{{ redis_docker_container_name }}"

# By default bitnami images already have this limits set, but we set them here just in case
redis_limit_no_file_soft: 1048576
redis_limit_no_file_hard: 1048576

# Set a high nproc limit to avoid "max number of clients reached" errors under high load
redis_limit_nproc: 65536

redis_docker_volume_path: /data/{{ redis_docker_instance_name }}

redis_docker_deploy_parent_folder: /nau/ops
redis_docker_deploy_base_folder: "{{ redis_docker_deploy_parent_folder }}/{{ redis_docker_instance_name }}"
redis_docker_deploy_compose_template: templates/docker-compose.yml.j2

# Wait 1 hour
redis_docker_deploy_healthcheck_delay: 10
redis_docker_deploy_healthcheck_retries: 360

# Files to be templated during deployment
redis_docker_deploy_templates:
  - src: templates/Makefile
    dest: "{{ redis_docker_deploy_base_folder }}/Makefile"

redis_docker_deploy_folders_additional:
  - dest: /data/{{ redis_docker_instance_name }}/
    dir_owner: 999
    dir_group: 999
    dir_mode: "0755"
