# {{ ansible_managed }}
###########################
# Access Control
###########################
#Map the community name into security name
## sec.name source community
com2sec local localhost d84jvmsq94uo
com2sec network 193.136.7.0/24 d84jvmsq94uo

#Map security name to groupname

## Access.group.name sec.model sec.name
group MyROGroup v2c local
group MyROGroup v2c network
group MyROGroup v1 network
#Create view

## MIB.view.name incl/excl MIB.subtree mask
view all included .1 80
#Grant access to group

## group.name context sec.model sec.level prefix read write notif
access MyROGroup "" v2c noauth exact all none none
access MyROGroup "" v1 noauth exact all none none

############################
# System information
############################
syscontact geral@aia.fccn.pt
syslocation XEN
sysdescr Linux Server

############################
# Process Monitoring
############################
#proc httpd

############################
# Disk Usage Monitoring
disk / 80%

###########################
# Raid Disk Monitoring
#extend .1.3.6.1.2.1.2021.2 check_raid /bin/cat /var/log/raid_status.log

{% if snmpd_configs is defined %}
###########################
# Additional Monitoring
{% for config in snmpd_configs %}
{{ config }}
{% endfor %}

{% endif %}
############################
# System Load Monitoring
#load 10
