# {{ ansible_managed }}
#
# Open edx Forum nginx configuration

{# Connects to forum on port 4567 typically. #}
upstream forum_app_server {
  server forum:{{ openedx_forum_port }} fail_timeout=0;
}

server {

  server_name forum.*;
  listen {{ FORUM_NGINX_PORT | default("18080") }}
  {% if NGINX_ENABLE_IPV6 | default(False) %}
  listen [::]:{{ FORUM_NGINX_PORT }};
  {% endif %}
  client_max_body_size {{ NGINX_FORUM_CLIENT_MAX_BODY_SIZE | default("1M") }};
  proxy_read_timeout {{ NGINX_FORUM_PROXY_READ_TIMEOUT | default("60s") }};
  keepalive_timeout 5;

  location / {
    try_files $uri @proxy_to_app;
  }

  {% include "robots.j2" %}

location @proxy_to_app {
    {% if NGINX_SET_X_FORWARDED_HEADERS %}
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-For $remote_addr;
    {% else %}
    proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
    proxy_set_header X-Forwarded-Port $http_x_forwarded_port;
    proxy_set_header X-Forwarded-For $http_x_forwarded_for;
    {% endif %}

    # newrelic-specific header records the time when nginx handles a request.
    proxy_set_header X-Queue-Start "t=${msec}";

    proxy_set_header Host $http_host;

    proxy_redirect off;
    proxy_pass http://forum_app_server;
  }
}
