# {{ ansible_managed }}
#
# LMS nginx site configuration
#

{% if EDXAPP_CORS_ORIGIN_WHITELIST|length > 0 %}
  # The Origin request header indicates where a fetch originates from. It doesn't include any path information,
  # but only the server name (e.g. https://www.example.com).
  # See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin for details.
  #
  # Here we set the value that is included in the Access-Control-Allow-Origin response header. If the origin is one
  # of our known hosts--served via HTTP or HTTPS--we allow for CORS. Otherwise, we set the "null" value, disallowing CORS.
  map $http_origin $cors_origin {
  default "null";
  {% for host in EDXAPP_CORS_ORIGIN_WHITELIST %}
    "~*^https?:\/\/{{ host|replace('.', '\.') }}$" $http_origin;
  {% endfor %}
  }
{% endif %}

## Iterate each lms server
{% for lms_server in openedx_nginx_lms_servers %}
{% set default_server = 'default_server' if lms_server.default_server is defined and lms_server.default_server else '' %}

#
# Configuration for {{ lms_server.server_name if lms_server.server_name is defined else 'default' }} LMS
#
server {

 {% if NGINX_EDXAPP_ENABLE_S3_MAINTENANCE %}

  # Do not include a 502 error in NGINX_ERROR_PAGES when
  # NGINX_EDXAPP_ENABLE_S3_MAINTENANCE is enabled.

  error_page 502 @maintenance;

    {% include "s3_maintenance.j2" %}

{% endif %}

  # error pages
  {% for k, v in NGINX_EDXAPP_ERROR_PAGES.items() %}
error_page {{ k }} {{ v }};
  {% endfor %}

{% include "empty_json.j2" %}

  listen {{ EDXAPP_LMS_NGINX_PORT }} {{ default_server }}{{ ' http2' if NGINX_HTTP2 is defined and NGINX_HTTP2 else ''}};

{% if NGINX_ENABLE_SSL %}
  listen {{ EDXAPP_LMS_SSL_NGINX_PORT }} {{ default_server }} ssl{% if haproxy_tcp %} proxy_protocol{{ ' http2' if NGINX_HTTP2 is defined and NGINX_HTTP2 else ''}};

  set_real_ip_from {{ load_balancer_hosts }};
  real_ip_header proxy_protocol{% endif %};

  ssl_certificate /etc/ssl/certs/{{ lms_server.ssl_certificate | default(openedx_nginx_ssl_certificate) | basename }};
  ssl_certificate_key /etc/ssl/private/{{ lms_server.ssl_certificate_key | default(openedx_nginx_ssl_certificate_key) | basename }};
{% endif %}

{% if lms_server.server_name %}
  server_name {{ lms_server.server_name | default('_') }};
{% endif %}

{% if NGINX_ENABLE_SSL or NGINX_REDIRECT_TO_HTTPS %}
  # request the browser to use SSL for all connections
  add_header Strict-Transport-Security "max-age={{ NGINX_HSTS_MAX_AGE | default(31536000) }}; includeSubDomains";
{% endif %}
  add_header X-Backend-Server $hostname always;

  # prevent the browser from doing MIME-type sniffing
  add_header X-Content-Type-Options nosniff;

  access_log /var/log/nginx/access.log p_combined;
  error_log  /var/log/nginx/error.log  error;

  # Some Master's courses require submissions up to 20MB in size.
  # CMS requires larger value for course assets, values provided
  # via hiera.
  client_max_body_size 20M;

  # Disables server version feedback on pages and in headers
  server_tokens off;

  # Allow large cookies
  proxy_buffer_size 8k;

  rewrite ^(.*)/favicon.ico$ /static/images/favicon.ico last;

  location @proxy_to_app {
{% include "lms_proxy.j2" %}

  }

  location @proxy_to_app_api {
    error_page 504 @empty_json;
    error_page 502 @empty_json;
    error_page 500 @empty_json;

{% include "lms_proxy.j2" %}
  }

  location / {
{% if EDXAPP_LMS_ENABLE_BASIC_AUTH|bool %}
      {% include "basic-auth.j2" %}
{% endif %}

    try_files $uri @proxy_to_app;
  }

  # /login?next=<any image> can be used by 3rd party sites in <img> tags to
  # determine whether a user on their site is logged into edX.
  # The most common image to use is favicon.ico.
  location /login {
    if ( $arg_next ~* "favicon.ico" ) {
      access_log off;
      return 403;
    }

    try_files $uri @proxy_to_app;
  }

  # No basic auth for /segmentio/event
  location /segmentio/event {
    try_files $uri @proxy_to_app;
  }

  # The api is accessed using OAUTH2 which
  # uses the authorization header so we can't have
  # basic auth on it as well.
  location /api {
    try_files $uri @proxy_to_app_api;
  }

  location /login_refresh {
    try_files $uri @proxy_to_app_api;
  }

  #enterprise API
  location /enterprise/api {
    try_files $uri @proxy_to_app_api;
  }

  # Consent API
  location /consent/api {
    try_files $uri @proxy_to_app_api;
  }

  # Need a separate location for the image uploads endpoint to limit upload sizes
  location ~ ^/api/profile_images/[^/]*/[^/]*/upload$ {
    try_files $uri @proxy_to_app_api;
    client_max_body_size {{ ( EDXAPP_PROFILE_IMAGE_MAX_BYTES | default(1048576) ) + 1000 }};
  }

  location /notifier_api {
    try_files $uri @proxy_to_app_api;
  }

  location /user_api {
    try_files $uri @proxy_to_app_api;
  }

  # No basic auth security on the github_service_hook url, so that github can use it for cms
  location /github_service_hook {
    try_files $uri @proxy_to_app;
  }

  # No basic auth security on oauth2 endpoint
  location /oauth2 {
    try_files $uri @proxy_to_app;
  }

  # No basic auth security on third party auth endpoints
  location /auth {
    try_files $uri @proxy_to_app;
  }

  # No basic auth on the XBlock View endpoint, which can use OAuth2
  location ~ ^/courses/.*/xblock/.*/view/ {
    try_files $uri @proxy_to_app;
  }

  # No basic auth on XBlock handlers, which can use OAuth2
  location ~ ^/courses/.*/xblock/.*/handler/ {
    try_files $uri @proxy_to_app;
  }

  # No basic auth security on assets
  location /c4x {
    try_files $uri @proxy_to_app;
  }

  location /asset {
{% if EDXAPP_CORS_ORIGIN_WHITELIST|length > 0 %}
      add_header Access-Control-Allow-Origin $cors_origin;
{% endif %}
    try_files $uri @proxy_to_app;
  }

  # No basic auth security on the heartbeat url, so that ELB can use it
  location /heartbeat {
    # If /edx/var/nginx/server-static/maintenance_heartbeat.txt exists serve an
    # empty 200 so the instance stays in the load balancer to serve the
    # maintenance page
    if (-f /edx/var/nginx/server-static/maintenance_heartbeat.txt) {
       return 200;
    }
    try_files $uri @proxy_to_app;
  }

  # No basic auth on the LTI provider endpoint, it does OAuth1
  location /lti_provider {
    try_files $uri @proxy_to_app;
  }

  # No basic auth on LTI component grade.
  location ~ /handler_noauth {
    try_files $uri @proxy_to_app;
  }

  location /courses {
    {%- if EDXAPP_ENABLE_RATE_LIMITING | default(false) -%}
    # Set Limit
    limit_req zone=cookies burst={{ EDXAPP_COURSES_REQUEST_BURST_RATE }};

    {%- if EDXAPP_RATE_LIMITED_USER_AGENTS|length > 0 %}
    limit_req zone=agents burst={{ EDXAPP_COURSES_USER_AGENT_BURST_RATE }};
    {%- endif %}
    error_page  503 = /server/rate-limit.html;
    {%- endif -%}

    {% if EDXAPP_LMS_ENABLE_BASIC_AUTH|bool %}
      {%- include "basic-auth.j2" %}
    {% endif %}
    try_files $uri @proxy_to_app;
  }

{% if S3_DJFS_PYFS_BUCKET_ENDPOINT %}
  location ^~ /media/djfs-pyfs/ {
      proxy_http_version 1.1;
      proxy_set_header Connection "";
      proxy_set_header Authorization '';
      proxy_set_header Host {{ S3_DJFS_PYFS_BUCKET_NAME }};
      proxy_hide_header x-amz-id-2;
      proxy_hide_header x-amz-request-id;
      proxy_hide_header x-amz-meta-server-side-encryption;
      proxy_hide_header x-amz-server-side-encryption;
      proxy_hide_header Set-Cookie;
      proxy_ignore_headers Set-Cookie;
      proxy_intercept_errors on;
      add_header Cache-Control max-age=31536000;
      proxy_pass {{ S3_DJFS_PYFS_BUCKET_ENDPOINT }}/{{ S3_DJFS_PYFS_PREFIX }}/;
  }
{% endif %}

{% if NGINX_ADMIN_ACCESS_CIDRS and EDXAPP_ENABLE_DJANGO_ADMIN_RESTRICTION %}
  location /admin {
    real_ip_header X-Forwarded-For;
    set_real_ip_from {{ NGINX_TRUSTED_IP_CIDRS }};
    {% for cidr in NGINX_ADMIN_ACCESS_CIDRS %}
      allow {{ cidr }};
    {% endfor %}
      deny all;
      try_files $uri @proxy_to_app;
  }
{% endif %}

  {% include "robots.j2" %}
  {% include "static-files.j2" %}
  {% include "extra_locations_lms.j2" ignore missing %}
 
}

{% endfor %}