# {{ ansible_managed }}
#
# Open edx notes nginx configuration

upstream notes_server {
  server notes:{{ openedx_notes_port }} fail_timeout=0;
}

server {
  listen {{ edx_notes_api_nginx_port | default(18120) }};

  {% if NGINX_ENABLE_SSL %}

  listen {{ edx_notes_api_ssl_nginx_port | default(48120) }} ssl{% if haproxy_tcp %} proxy_protocol;

  set_real_ip_from {{ load_balancer_hosts }};
  real_ip_header proxy_protocol{% endif %};

  ssl_certificate /etc/ssl/certs/{{ openedx_notes_nginx_ssl_certificate | default(openedx_nginx_ssl_certificate) | basename }};
  ssl_certificate_key /etc/ssl/private/{{ openedx_notes_nginx_ssl_certificate_key | default(openedx_nginx_ssl_certificate_key) | basename }};

  {% endif %}

  {% if NGINX_ENABLE_SSL or NGINX_REDIRECT_TO_HTTPS %}
  # request the browser to use SSL for all connections
  add_header Strict-Transport-Security "max-age={{ NGINX_HSTS_MAX_AGE }}; includeSubDomains";
  {% endif %}
  add_header X-Backend-Server $hostname always;

  # Disables server version feedback on pages and in headers
  server_tokens off;

  # Prevent invalid display courseware in IE 10+ with high privacy settings
  add_header P3P '{{ NGINX_P3P_MESSAGE }}';

  {% if NGINX_REDIRECT_TO_HTTPS %}
  if ($scheme != "https") 
  { 
    return 301 https://$host$request_uri;
  }
  {% endif %}

  server_name {{ EDX_NOTES_API_HOSTNAME }};

  location / {
    try_files $uri @proxy_to_app;
  }

  {% include "robots.j2" %}

  location @proxy_to_app {
    proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
    proxy_set_header X-Forwarded-Port $http_x_forwarded_port;
    proxy_set_header X-Forwarded-For $http_x_forwarded_for;

    proxy_set_header Host $http_host;

    proxy_redirect off;
    proxy_pass http://notes_server;
  }
}
