---
- name: Install keepalived packages
  apt:
    name: "{{ keepalived_packages }}"
    state: present
  tags: keepalived

- name: Adding keepalived configuration template
  template:
    dest: "/etc/keepalived/keepalived.conf"
    src: "keepalived.conf.j2"
  tags: keepalived
  register: keepalived_conf_out

- name: Restart keepalived if configuration has changed
  service: 
    name : keepalived
    enabled: yes
    state: restarted
  when: keepalived_conf_out.changed
