
{% if NGINX_ADMIN_ACCESS_CIDRS and EDXAPP_ENABLE_DJANGO_ADMIN_RESTRICTION %}
  location /admin {
    {% for cidr in NGINX_ADMIN_ACCESS_CIDRS %}
      allow {{ cidr }};
    {% endfor %}
      deny all;
      try_files $uri @proxy_to_app;
  }
{% endif %}
