# {{ ansible_managed }}
#
# Insights nginx site configuration
#

server {
  listen {{ openedx_nginx_http_port }};

{% if NGINX_ENABLE_SSL %}
  listen {{ openedx_nginx_https_port }} ssl{% if haproxy_tcp %} proxy_protocol{% endif %};
{% if openedx_insights_nginx_http2 | default(false) | bool %}
  listen {{ openedx_nginx_http2s_port }} ssl{% if haproxy_tcp %} proxy_protocol{% endif %} http2;
{% endif %}

{% include "real_ip.j2" %}
  
  ssl_certificate     {{ openedx_insights_nginx_ssl_certificate_docker_target     }};
  ssl_certificate_key {{ openedx_insights_nginx_ssl_certificate_key_docker_target }};
{% endif %}

  server_name insights.*;

  # Disables server version feedback on pages and in headers
  server_tokens off;

  {% if NGINX_ENABLE_SSL or NGINX_REDIRECT_TO_HTTPS %}
  # request the browser to use SSL for all connections
  add_header Strict-Transport-Security "max-age={{ NGINX_HSTS_MAX_AGE }}; includeSubDomains";
  {% endif %}
  add_header X-Backend-Server $hostname always;

  rewrite ^(.*)/favicon.ico$ /static/images/favicon.ico last;

  {% import 'static-files.j2' as static_files with context %}
  {{ static_files.generate_static_files(openedx_nginx_insights_staticfiles_folders) }}
  
  location / {
    try_files $uri @proxy_to_app;
  }

  # No basic auth security on the heartbeat url, so that ELB can use it
  location /status {
    try_files $uri @proxy_to_app;
  }

  {% import 'robots.j2' as robots with context %}
  {{ robots.generate_robots_txt(openedx_nginx_insights_robot_rules) }}
  
  location @proxy_to_app {
    proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
    proxy_set_header X-Forwarded-Port $http_x_forwarded_port;
    proxy_set_header X-Forwarded-For $http_x_forwarded_for;

    # newrelic-specific header records the time when nginx handles a request.
    proxy_set_header X-Queue-Start "t=${msec}";

    proxy_set_header Host $http_host;

    proxy_redirect off;
    set $backend_servers insights;
    proxy_pass http://$backend_servers:{{ openedx_insights_port }};
  }

  # Prevent invalid display courseware in IE 10+ with high privacy settings
  add_header P3P '{{ NGINX_P3P_MESSAGE }}';
}
