---
- name: Install make
  package:
    name: make
    state: present
  tags:
    - docker_deploy

- name: Deploy
  include_role:
    name: ansible-docker-deploy
  vars:
    docker_deploy_base_folder:         "{{ redis_docker_deploy_base_folder }}"
    docker_deploy_compose_template:    "{{ redis_docker_deploy_compose_template }}"
    docker_deploy_templates:           "{{ redis_docker_deploy_templates | default([]) }}"
    docker_deploy_files:               "{{ redis_docker_deploy_files | default([]) }}"
    docker_deploy_folders_additional:  "{{ redis_docker_deploy_folders_additional | default([]) }}"
    docker_deploy_configs:             "{{ redis_docker_deploy_configs | default([]) }}"
    docker_deploy_secrets:             "{{ redis_docker_deploy_secrets | default([]) }}"
    docker_deploy_services_additional: "{{ redis_docker_deploy_services_additional | default([]) }}"
    docker_deploy_shell: true
  tags:
    - docker_deploy

- name: Run healthcheck
  shell: make healthcheck
  args:
    chdir: "{{ redis_docker_deploy_base_folder }}"
  delay: "{{ redis_docker_deploy_stack_verify_delay }}"
  register: result
  until: result.rc == 0
  retries: "{{ redis_docker_deploy_stack_verify_retries }}"
  # run it only when deploying or when on healthcheck mode.
  changed_when: False
  when: not ansible_check_mode
  tags: 
    - healthcheck
    - docker_deploy