---
- name: Generate basic-authentication for each site
  include_role:
    name: basic-authentication
  vars:
    basic_authentication_users: "{{ item.value.nginx_basic_authentication_users }}"
  when: ( richie_docker_deploy_run | default(false) ) and item.value.nginx_basic_authentication_users is defined
  with_dict: "{{ richie_sites }}"
  tags:
    - docker_deploy

- name: Install MySQL client for health check
  package:
    name: mysql-client
  when: richie_docker_deploy_run | default(false)
  tags:
    - docker_deploy

- name: Deploy
  include_role:
    name: ansible-docker-deploy
  vars:
    docker_deploy_base_folder:         "{{ richie_docker_deploy_base_folder }}"
    docker_deploy_compose_template:    "{{ richie_docker_deploy_compose_template }}"
    docker_deploy_templates:           "{{ richie_docker_deploy_templates | default([]) }}"
    docker_deploy_files:               "{{ richie_docker_deploy_files | default([]) }}"
    docker_deploy_folders_additional:  "{{ richie_docker_deploy_folders_additional | default([]) }}"
    docker_deploy_configs:             "{{ richie_docker_deploy_configs | default([]) }}"
    docker_deploy_secrets:             "{{ richie_docker_deploy_secrets | default([]) }}"
    docker_deploy_services_additional: "{{ richie_docker_deploy_services_additional | default([]) }}"
    docker_deploy_shell: true
    docker_deploy_healthcheck_delay :  "{{ richie_docker_deploy_stack_verify_delay }}"
    docker_deploy_healthcheck_retries: "{{ richie_docker_deploy_stack_verify_retries }}"
  when: richie_docker_deploy_run | default(false)
  tags:
    - docker_deploy

- name: Run healthcheck
  shell: make healthcheck
  args:
    chdir: "{{ richie_docker_deploy_base_folder }}"
  delay: "{{ richie_docker_deploy_stack_verify_delay }}"
  register: result
  until: result.rc == 0
  retries: "{{ richie_docker_deploy_stack_verify_retries }}"
  # run it only when deploying or when on healthcheck mode.
  when: not ansible_check_mode and (richie_docker_deploy_run | default(false)) or (healthcheck | default(false))
  changed_when: False
  tags: 
    - healthcheck
    - docker_deploy

- name: Check URLs
  include_role:
    name: nau_check_urls
  vars:
    nau_urls_to_check: "{{ richie_nau_urls_to_check }}"
  when: (richie_docker_deploy_run | default(false)) or (healthcheck | default(false))
  tags:
    - docker_deploy
    - nau_check_urls
