---
# Remove old containers that this stack no longer use
richie_docker_deploy_compose_template: templates/docker-compose.yml.j2
richie_docker_deploy_base_folder: /nau/ops/richie

richie_docker_deploy_compose_name: "{{ richie_docker_deploy_base_folder | basename }}"

richie_docker_deploy_templates: "{{ 
  richie_base_docker_deploy_templates + 
  richie_app_docker_deploy_templates + 
  richie_nginx_docker_deploy_templates 
}}"

richie_base_docker_deploy_templates:
  - src:  "{{ richie_makefile_template | default('templates/Makefile') }}"
    dest: "{{ richie_docker_deploy_base_folder }}/Makefile"

richie_docker_deploy_files: "{{ richie_nginx_docker_deploy_files }}"

# primary sites variable, use a`_defaults_ ` variable to be more easy extensible on the environment
richie_sites: "{{ richie_sites_defaults }}"
richie_sites_defaults: "{{ richie_sites_nginx | combine(richie_sites_app , recursive=True) }}"

richie_docker_deploy_folders_additional: []

# Declare additional docker stack services, to they can be used to generate Makefile helper targets.
richie_docker_deploy_services_additional:
  - nau_app_job

richie_docker_deploy_stack_verify_retries: 120
richie_docker_deploy_stack_verify_delay: 60
