{"username": "{{ analytics_pipeline_configuration_dbs.input_db.username }}", "host": "{{ analytics_pipeline_configuration_dbs.input_db.host }}", "password": "{{ analytics_pipeline_configuration_dbs.input_db.password }}", "port": 3306}
