{"username": "{{ analytics_pipeline_configuration_dbs.output_db.username }}", "host": "{{ analytics_pipeline_configuration_dbs.output_db.host }}", "password": "{{ analytics_pipeline_configuration_dbs.output_db.password }}", "port": 3306}
